@import 'abstracts/global';
@import 'base/global';
@import 'components/global';
@import 'pages/global';
@import 'vendors/global';

.style-link {
  text-decoration: none;
  font-style: none;
  color: inherit;
}

.gradient-text {
  /* font-size: 72px; */
  font-weight: 700 !important;
  background: linear-gradient(to right, #ffd53d 10%, #fe6b8b 30%, #42206d 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes timer-alert {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.danger-text {
  color: #f53e3e;
  animation-name: timer-alert;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.danger {
  background-color: #e57373 !important;
}

.success {
  background-color: #81c784 !important;
}

.outlined-answer {
  border: 2px solid #000 !important;
}

.question-selected {
  background-color: rgba(19, 29, 50, 1) !important;
}

.question-attempted {
  background-color: rgba(111, 49, 154, 1) !important;
}

.custom-shape-divider-bottom-footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-footer svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 47px;
}

.custom-shape-divider-bottom-footer .shape-fill {
  fill: #24313f;
}
