.styleLink {
  text-decoration: none;
  font-style: none;
  color: inherit;
}

.gradientText {
  /* font-size: 72px; */
  font-weight: bolder !important;
  background: -webkit-linear-gradient(
    right,
    #ffd53d 10%,
    #fe6b8b 30%,
    #42206d 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.danger {
  background-color: #e57373 !important;
}
.success {
  background-color: #81c784 !important;
}

.outlined-answer {
  border: 2px solid black !important;
}

.custom-shape-divider-bottom-footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-footer svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 47px;
}

.custom-shape-divider-bottom-footer .shape-fill {
  fill: #24313f;
}
